@import 'simpledotcss/simple.min.css';
@import 'highlight.js/styles/github.css';

:root {
  --accent: rgb(14, 152, 232);
  --accent-bg: rgb(213, 233, 244, 0.3);
  --code-bg: rgb(246, 248, 250);
}

body {
  grid-template-columns: 1fr min(55rem, 90%) 1fr;
}

h2 {
  font-size: 1.8rem;
}

code.hljs {
  font-size: 0.9rem;
  background-color: var(--code-bg);
}

p {
  font-size: 1rem;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;
  transition: all 0.3s;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  border-color: var(--accent);
}

button {
  transition: all 0.3s, outline 0s;
}

button:focus-visible,
a:focus-visible,
input[type='checkbox']:focus-visible,
input[type='radio']:focus-visible {
  outline: 0;
}
